.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30%;
    padding: 20px;
    z-index: 1;
   transition: all 2s ease-in;
   
}
.nav_black{
    background-color:#111 ;
    height: 20px;
}
.nav__logo{
    width: 80px;
    position: fixed;
    left: 20px;
    object-fit: contain;
   
   
}
.nav_avatar{
    width: 30px;
    position: fixed;
    right: 20px;
    object-fit: contain;
}